body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;

    color: #ffffff;
    line-height: 1.6;
    background: url("../images/fon_3.jpg") repeat;
    background-size: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

*label {
    font-size: 2vh;
}