<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Новость</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet"
	      href={% static "css/list.css" %}>
	<link rel="preconnect"
	      href="https://fonts.gstatic.com">
</head>
<body>

<h1>
	Заместители Директора
</h1>
<div>
	<input type="checkbox" id=zam1>
	<label for="zam1">Ф.И.О.</label>
</div>

<h1>
	Методисты
</h1>
<div>
	<input type="checkbox" id=met1>
	<label for="zam1">Ф.И.О.</label>
</div>

<h1>
	Руководители Корпусов
</h1>
<div>
	<input type="checkbox" id=ruk1>
	<label for="zam1">Ф.И.О.</label>
</div>

<h1>
	Классные руководители
</h1>
<div>
	<input type="checkbox" id=kl1>
	<label for="zam1">Ф.И.О.</label>
</div>

<h1>
	Учителя
</h1>
<div>
	<input type="checkbox" id=te1>
	<label for="zam1">Ф.И.О.</label>
</div>

<h1>
	Ученики
</h1>
<div>
	<input type="checkbox" id=uch1>
	<label for="zam1">Ф.И.О.</label>
</div>

</body>
</html>